.App {
}

.formatted-mark-down {
}

.mark-down {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: navy;
  padding: 0px 30px;
}

.mark-down textarea {
  border: none;
  background-color: navajowhite;
}

.mark-down label {
  color: white;
}